html, body {
  height: 100%;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 15px;
}

h1 {
  line-height: 1.0;
}

h1 small,
h2 small {
  font-size: 70%;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  border-color: #aaa;
  border-width: 2px;
}

img {
  vertical-align: middle;
  width: 100%;
}

strong {
  color: #333;
}

a {
  text-decoration: underline;
}

header {
  position: fixed !important;
  height: 100%;
  background: #fff;
  z-index: 100;
}

header h1 {
  margin-top: 15px;
}

h5 {
  font-weight: 200;
}

a, button,
a:focus, button:focus {
  outline: none !important;
}

.container-fluid {
  min-height: 100%;
  height: 100%;
}

.about-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 8px 8px 5px 8px;
  width: 100%;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  -ms-box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  height: 100%;
}

.about-overlay p {
  margin-top: 15px;
}

.link {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.link:hover {
  color: rgb(242,73,73) !important;
}

.upper {
  text-transform: uppercase;
}

.header-title {
  border-bottom: 4px solid rgb(242,73,73);
}

#main-list {
  height: 100%;
  min-height: 600px;
  z-index: 1;
}

#project-detail-view {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  overflow-y: scroll;
  display: block;
  box-shadow: 0px 0px 15px rgba(10,10,10,0.5);
  -moz-box-shadow: 0px 0px 15px rgba(10,10,10,0.5);
  -webkit-box-shadow: 0px 0px 15px rgba(10,10,10,0.5);
}

#project-detail-view.hide-animation {
  opacity: 0 !important;
}

#main-list-wrapper {
  height: 100%;
  margin-top: 50px;
  min-height: 100%;

}

@keyframes animateHide {
  0% {
    opacity: 100
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@-webkit-keyframes animateHide {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes animateShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@-moz-keyframes animateHide {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes animateShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@-ms-keyframes animateHide {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes animateShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
.hide {
  opacity: 0 !important;
}
.hide-animation {
  -webkit-animation: animateHide .2s ease;
  -moz-animation: animateHide .2s ease;
  -ms-animation: animateHide .2s ease;
  animation: animateHide .2s ease;
}

.show-animation {
  -webkit-animation: animateShow .2s ease-out;
  -moz-animation: animateShow .2s ease-out;
  -ms-animation: animateShow .2s ease-out;
  animation: animateShow .2s ease-out;
}

.click-overlay {
  z-index: 10000 !important;
}

.hide-image {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  opacity: 0
}

.show-image {
  opacity: 1;
}

.media-box a:hover {
  cursor: pointer;
  color: #B3B0B6;
  -webkit-transition: all 0.15s ease-in-out;
}

.alpha {
  padding-left: 0px;
}

.omega {
  padding-right: 0px;
}

.inline {
  display: inline-block;
}

.black {
  color: #2E2828;
}

.black-bg {
  background: #2E2828;
}

.yellow {
  color: #FDF8BA;
}

.yellow-bg {
  background: #FDF8BA;
}

.gray {
  color: #DDDCEC;
}

.gray-bg {
  background: #DDDCEC;
}

.white {
  color: #FCFCFC;
}

.white-bg {
  background: #FCFCFC;
}

.purple {
  color: #B3B0B6;
}

.purple-bg {
  background: #B3B0B6;
}

.grid-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

.spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.media-box {
  background: transparent;
  position: relative;
  margin-bottom: 20px;
}

.media-box img {
  border-radius: 2px 2px;
  -moz-border-radius: 2px 2px;
  -webkit-border-radius: 2px 2px;

  outline: 0px;

  cursor: pointer;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
}

.media-box.active img {
  outline: 4px solid rgba(242,73,73, 0.8);
}

.light-shadow {
  text-shadow: 0px 1px 2px #111;
}

.gutter {
  margin-left: 30px;
}

.bottom {
  margin-bottom: 20px;
}

.center {
  margin: 0 auto;
}

.mute {
  color: #575757;
}

.no-margin {
  margin: 0;
}

.btn-nav {
  border: 3px solid #aaa;
  border-radius: 20px;
  padding-top: 2px;
  background: #fff;
  padding: 2px 5px;
  width: 30px;
  color: #aaa;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

#prev-btn span,
#next-btn span {
  top: 2px;
  right: 1px;
}

#close-btn span {
  top: 3px;
}

.btn-nav:hover {
  color: #333;
  border: 3px solid #333;
}

.preloader {
  display: inline-block;
  background: white url('../images/preloader.gif') center center no-repeat;
  z-index: 0;
}

.align-right {
  text-align: right;
}

@media only screen and (max-width: 1024px) {
  .header-title {
    position: relative;
  }
}

@media only screen and (min-width: 1280px) {
  #project-detail-view {
    overflow: hidden;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
 h1 {
   font-size: 2.5vw;
 }


 h5 {
   font-size: 1.2vw;
 }
}

@media only screen and (max-width: 990px) {
  h1 {
    margin-bottom: 0px;
  }

  h5 {
    margin: 0;
  }

  .grid-spacing {
    margin-top: 0;
    margin-bottom: 0;
  }

  header {
    position: relative !important;
    width: 100%;
    height: 100px;
    text-align: center;
  }

  header h1 {
    margin-top: 10px;
  }

  .row .spacing {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  #main-list {
    padding-top: 5px;
  }
}

@media only screen and (max-width: 480px) {
  header {
    padding: 0px !important;
  }

  /*.media-box {
    min-height: 191px;
  }*/

  #main-list-wrapper {
    margin-top: 20px;
  }

  .media-box {
    margin-bottom: 20px;
  }
}
